<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckPermsReqServlet</servlet-name>
        <servlet-class>team.soa.cmsc.servlet.faculty.CheckPermsReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPermission</servlet-name>
        <servlet-class>team.soa.cmsc.servlet.student.RequestPermission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckPermsReqServlet</servlet-name>
        <url-pattern>/CheckPermsReqServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropClassServlet</servlet-name>
        <servlet-class>team.soa.cmsc.servlet.student.DropClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropClassServlet</servlet-name>
        <url-pattern>/DropClassServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>team.soa.cmsc.servlet.student.StudentRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPermission</servlet-name>
        <url-pattern>/RequestPermission</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
